.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.feedback {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  color: rgb(245, 137, 137);
}