.searchContainer {
  padding: 20px;
  text-align: center;
}

.searchInput {
  width: 50%;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #555;
  background-color: #444;
  color: white;
  font-size: 1rem;
}

.searchInput::placeholder {
  color: #aaa;
}